<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Test" verbose="1" configfailurepolicy="continue">
    <test name="Severity Test">
        <classes>
            <class name="tests.AuthTest"/>
            <class name="tests.CartTest"/>
        </classes>
    </test>
</suite>